.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

h1 {
	color: white;
	font-family: Tsukushi A Round Gothic;
	font-weight: bold;
	margin-top: 50px;
	font-size: 100px; 
}

h2 {
	font-family: Tsukushi A Round Gothic;
	font-weight: bold;
	margin-top: 50px;
}

h3 {
	color: white;
	font-family: Tsukushi A Round Gothic;
}

.image {
	height: 300px;
	width: 500px;
	margin-top: 50px;
	margin-bottom: 50px;
}



.youtube {
    width: 645px;
    height: 315px;
    position: center;
    top: 0; right: 0;
    bottom: 0; left: 0;
    margin: auto;
    
}

.table {
	text-decoration: none;
	border-color: white;
	margin-top: 10px;
}